name: Render CV

on:
  push:
    branches:
      - main

jobs:
  render:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install dependencies
        run: |
          pip install "rendercv[full]"
          # Si tu script render_cvs.py usa otras librerías, instálalas aquí

      - name: Run render script
        run: |
          echo "running render_cvs command"
          python render_cvs.py

      - name: Commit and Push PDFs
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          
          # El flag -f es la clave: fuerza a Git a añadir los archivos aunque estén en el .gitignore
          git add -f rendercv_output/*.pdf

          # Verificamos si hay algo nuevo en el "stage" antes de hacer el commit
          if git diff --staged --quiet; then
            echo "Sin cambios detectados en los PDFs respecto a la versión anterior."
          else
            git commit -m "update: CVs generados automáticamente [skip ci]"
            git push
          fi
